/*----- 3.3 Header Area -----*/
.header-area {
  background: #ebebeb none repeat scroll 0 0;
  padding-top: 20px;
}
.log-link p {
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.log-link h5 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
.log-link h5 a {
  color: #000080;
  text-decoration: none;
}
.logo a {
  display: inline-block;
  text-decoration: none;
  text-align: right;
}
.logo a img{
  max-width: 100%;
}
.logo a h4 {
  color: #414141;
  font-size: 14px;
  font-weight: 400;
}
.cart-info {
  margin-top: 15px;
  margin-left: 201px;
  position: relative;
}
.cart-info > a {
  display: inline-block;
}
.cart-info > a:hover, .cart-info > a:focus {
  color: #000080;
}
.cart-info > a h5 {
  float: left;
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  margin-right: 7px;
}
.cart-info > a span {
  font-size: 15px;
}
.cart-info > a i {
  font-size: 30px;
}
.cart-hover {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  opacity: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 100%;
  transform: scaleY(0);
  transform-origin: center top 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 330px;
  z-index: -99;
}
.cart-info:hover .cart-hover {
  opacity: 1;
  transform: scaleY(1);
  z-index: 99999;
}
.header-cart-pro {
  list-style: none;
}
.header-cart-pro li {
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.header-cart-pro .image {
  float: left;
  margin-right: 10px;
  width: 90px;
  border: 1px solid #ddd;
}
.header-cart-pro .image a {
  display: block;
}
.header-cart-pro .image a img{
  max-width: 100%;
}
.header-cart-pro .content {
  text-align: left;
}
.header-cart-pro .content a {
  color: #3e3f3f;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0;
  text-transform: uppercase;
}
.header-cart-pro .content a:hover {
  color: #000080;
}
.header-cart-pro .content span {
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
  text-align: left;
  width: 100%;
}
.header-cart-pro .delete {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 20px;
  color: #666;
}
.header-cart-pro .delete:hover {
  color: black;
}
.header-button-price{}
.header-button-price a {
  border: 1px solid #2C6700;
  color: black;
  display: block;
  float: left;
  font-size: 13px;
  padding: 7px 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.header-button-price a:hover {
  background: #2C6700;
  color: #fff;
}
.header-button-price a i {
  margin-right: 5px;
}
.header-button-price .total-price {
  float: right;
}
.header-button-price .total-price h3 {
  font-size: 15px;
  margin-top: 8px;
}
.header-button-price .total-price h3 span{}
.search {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.search input {
  border: 1px solid #bdbdbd;
  color: #6b6b6b;
  font-weight:400;
  font-size: 11px;
  padding: 10px;
  width: 100%;
  margin-top: 11px;
}
.search > .submit {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  line-height: 38px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 9px;
}
/*----- 3.4 Main Menu -----*/
.menu-area {
  background:#ebebeb;
}
.main-menu {
  text-align: center;
}
.main-menu > nav{}
.main-menu > nav > ul {
  display: inline-block;
  margin: 0;
}
.main-menu > nav > ul > li {
  display: inline-block;
  margin: 0;
  padding: 20px 2px;
  position: relative;
}
.main-menu > nav > ul > li > a {
  font-size: 14px;
  font-weight: 700;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-menu > nav > ul > li > a:hover, .main-menu > nav > ul > li > a:focus {
  color:#000080;
}
.sub-menu, .mega-menu {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  left: 0;
  list-style: outside none none;
  opacity: 0;
  padding: 10px 15px;
  position: absolute;
  text-align: left;
  top: 100%;
  transform: scaleY(0);
  transform-origin: center top 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 220px;
  z-index: -99;
}
.main-menu > nav > ul > li:hover .sub-menu, .main-menu > nav > ul > li:hover .mega-menu {
  opacity: 1;
  transform: scaleY(1);
  z-index: 999;
}
.sub-menu > li{}
.sub-menu > li > a {
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 0;
  text-transform: uppercase;
}
.sub-menu > li > a:hover, .sub-menu > li > a:focus  {
  color:#000080;
  padding-left: 5px;
}
.mega-menu {
  padding: 15px 0;
  width: 400px;
}
.mega-menu .column {
  padding: 15px;
  width: 50%;
  float: left;
  display: block;
}
.mega-menu .column ul {
  list-style: outside none none;
}
.mega-menu .column ul li{}
.mega-menu .column ul li:first-child {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.mega-menu.mega-menu-page .column ul li:first-child {
  border-bottom: none;
  margin-bottom: 0;
}
.mega-menu .column ul li a {
  display: block;
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.mega-menu.mega-menu-page .column ul li a {
  text-transform: uppercase;
}
.mega-menu.mega-menu-page .column ul li:first-child a {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.mega-menu .column ul li:first-child a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.mega-menu .column ul li a:hover, .mega-menu .column ul li a:focus  {
  color:#000080;
  padding-left: 5px;
}
.mega-menu .column > a {
  display: block;
  overflow: hidden;
  position: relative;
}
.mega-menu .column > a::before {
  background-color: rgba(0, 0, 0, 0.15);
  content: "";
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0;
  z-index: 1;
}
.mega-menu .column > a::after {
  background-color: rgba(0, 0, 0, 0.15);
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0;
}
.mega-menu .column > a:hover::before, .mega-menu .column > a:hover::after {
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 100%;
}
.mega-menu .column > a img {
  width: 100%;
}

.mean-bar::after {
  color: #fff;
  content: "MENU";
  display: block;
  font-family: raleway;
  font-size: 18px;
  font-weight: bold;
  left: 20px;
  position: absolute;
  text-transform: uppercase;
  top: 14px;
}
.main-menu-2-pre {
  padding-right: 0;
}
.main-menu-2 {
  background: #e09e25 none repeat scroll 0 0;
  padding: 9px 0;
}
.main-menu-2 > nav {}
.main-menu-2 > nav > ul {
  list-style: outside none none;
  margin: 0;
}
.main-menu-2 > nav > ul > li {
  display: block;
  position: relative;
}
.main-menu-2 > nav > ul > li > a {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding: 17px 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main-menu-2 > nav > ul > li > a:hover, .main-menu-2 > nav > ul > li > a:focus {
  padding-left: 30px;
  background: #fff;
  color: #E09E25;
}
.sub-menu-2, .mega-menu-2 {
  left: 100%;
  top: 0;
}
.main-menu-2 > nav > ul > li:hover .sub-menu-2, .main-menu-2 > nav > ul > li:hover .mega-menu-2 {
  opacity: 1;
  transform: scaleY(1);
  z-index: 99999;
}
.mega-menu-2 {
  width: 400px;
}
.mega-menu-2 .column {
  width: 50%;
}

.mean-container .mean-bar {
  margin-bottom: 15px;
}
.mean-container .mean-bar, .mean-container .mean-nav, .mean-container .mean-nav ul li a.mean-expand:hover {
  background: #000000 none repeat scroll 0 0;
}

@media (min-width: 320px) and (max-width: 768px){
  .cart-info{
    margin-left: 0px;
  }
  .log-link h5{
    font-size: 14px;
  }
  .cart-hover{
    display: none;
  }
}

