<<<<<<< HEAD
@charset "utf-8";
/* CSS Document */
*{
	box-sizing:border-box;
}
body{
	margin:0;
	padding:0;
    background-color:#CCC;
}
#wrap{
	max-width:1000px;
	margin:auto;
	
}

#banner img{
	max-width:100%;
	
}
#image img{
	width: 250px;
	border:5px solid #006;
	margin:10px 40px;
	max-width:100%;
	float:left;
	-webkit-transform:scale(0.8); 
	-moz-transform:scale(0.8); 
	-o-transform:scale(0.8); 
	-webkit-transition-duration: 0.5s; 
	-moz-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s; 
	 
}
#image img:hover{
	-webkit-transform:scale(1.1); 
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	box-shadow:0px 0px 30px #CC0066; 
	-webkit-box-shadow:0px 0px 30px #CC0066;
	-moz-box-shadow:0px 0px 30px#CC0066;
	border-radius:12%;
}


#main-menu li{
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
	
	
}
#main-menu ul{
	  margin-top: -5px;
    background: #1f8b3b;
	  list-style-type: none;
	  overflow: hidden;
	  width: 100%;
     text-align: center;
	 font-weight:bold;
	
}

#main-menu a{
  text-decoration: none;
  color: #fff;
  display: block;
}
#main-menu a:hover{
   background: #FCC;
  color: #30C;
}
=======
@charset "utf-8";
/* CSS Document */
*{
	box-sizing:border-box;
}
body{
	margin:0;
	padding:0;
    background-color:#CCC;
}
#wrap{
	max-width:1000px;
	margin:auto;
	
}

#banner img{
	max-width:100%;
	
}
#image img{
	width: 250px;
	border:5px solid #006;
	margin:10px 40px;
	max-width:100%;
	float:left;
	-webkit-transform:scale(0.8); 
	-moz-transform:scale(0.8); 
	-o-transform:scale(0.8); 
	-webkit-transition-duration: 0.5s; 
	-moz-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s; 
	 
}
#image img:hover{
	-webkit-transform:scale(1.1); 
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	box-shadow:0px 0px 30px #CC0066; 
	-webkit-box-shadow:0px 0px 30px #CC0066;
	-moz-box-shadow:0px 0px 30px#CC0066;
	border-radius:12%;
}


#main-menu li{
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
	
	
}
#main-menu ul{
	  margin-top: -5px;
    background: #1f8b3b;
	  list-style-type: none;
	  overflow: hidden;
	  width: 100%;
     text-align: center;
	 font-weight:bold;
	
}

#main-menu a{
  text-decoration: none;
  color: #fff;
  display: block;
}
#main-menu a:hover{
   background: #FCC;
  color: #30C;
}
>>>>>>> origin/master
