@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	
}
*{
	box-sizing:border-box;
}
.wrap{
	max-width:1280px;
	margin:auto;
	position: relative;
}
.bg{
	max-width:1280px;
	margin:auto;
	position:fixed;
}
.bg img{
	max-width:100%;
}

 
@keyframes rotate360 {
		0% {
			transform: rotate(10deg);
		}
		25%{
			transform: rotate(-10deg);
		}
		50%{
			transform: rotate(10deg);
		}
		75% {
			transform: rotate(-10deg);
		}
		
		100% {
			transform: rotate(10deg);
		}
}
.thumb1{
	animation: rotate360 2s ease infinite;
	position:absolute;
	top: 1px;
   left: 10px;
	
}

@keyframes move{
	0%{margin-right: 950px; opacity:1}
	25%{margin-left: 739px;    opacity: 0.8;}
	50%{
		margin-left: 739px;    
		opacity: 0.6;
		}
	75%{margin-left: 739px;    opacity: 0;}
	100%{
		margin-right: 10px; 
		opacity: 0;
		}
}
.thumb2{
	position:fixed;
	bottom: 0;
	animation:move 8s cubic-bezier(0.21, 0.01, 0.72, 1.06) infinite;
}

@keyframes text{
	 0%  {color: #ea0606;}
    25%  {color: #F6C;}
    75%  {color: #66cc69;}
    100% {color: #3b9900;}
}
.text{
	position: fixed;
    text-align: right;
    right: 1px;
    bottom: 335px;
    font-size: 24px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:800px;
	animation:text 5s ease infinite;
}
.text p{
	text-align:center;
}
#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
