@import url('https://fonts.googleapis.com/css?family=Roboto');
@charset "utf-8";
/* CSS Document */
.content-right{
	padding: 12px;
}
*{
	 font-family: 'Roboto', sans-serif;
}

/*Style ben trai*/
/*Style phan menu */
.main-wrap{
      position: relative;
    margin-top: -44px;
}

.menu{
	margin-top: 5pc;
	    width: 304px;
}
.menu ul {
  background:#FFF;
    width: 177px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 12px;
  list-style-type:none;
  text-align: left;
  margin-top: -10px;
}
.menu h2{
	background-color:#333;
	height:46px;
	text-align:center;
	padding-top: 12px;
	width: 78%;
	font-size: 24px;
  color: #fff;

}
.top{
  margin-top: 15px;
}
.menu li {
  height: 46px;
  width: auto;
  line-height: 40px;
  padding: 0 1em;
   position: relative;
    top: 5px;
	left: 8px;
  padding-bottom: 47px;

}
.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;

}
.main-item{
  width: 300px;
}
.slider_left{
  width: 248px;
}
.menu li a:hover {
  color:red;
}
.checkbox{
	position: absolute;
    width: 20%;
    top: 4px;
	left: 21px;
}
.color{
	position: absolute;
    left: 22px;
    top: 4px;
}
#menu-ngang{
margin-top: -40px;
    width: 60%;
    background: #FFF;
    list-style-type: none;
    text-align: center;
	margin-left: 72px;
}
#menu-ngang li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu-ngang a {
  text-decoration: none;
  color: #000;
  display: block;
}
#menu-ngang a:hover {
  background: #F1F1F1;
  color: #333;
}



/*Style ben phai*/
/*Style phan tieu de */
.collection__title{
background: #ccc;
    border: 1px solid #ebebeb;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}
.collection__title h1{
font-size: 18px;
    font-weight: bold;
     font-family: 'Roboto', sans-serif;
    color: #252525;
    display: inline-block;
    text-transform: uppercase;
    line-height: normal;
    padding: 14px 0px;
    border-bottom: 3px solid #336699;
    margin-bottom: -2px;
    position: relative;
}



/*phan content*/
.collection-filter .category-products{
border: 1px solid #ebebeb;
    border-top: none;
    margin-bottom: 28px;
}

.product-item__grid{
	max-width: 100%;
	border-left: 1px solid #ebebeb ;
	position: relative;
	left: 1px;
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    background: #fff;
    border-top: 1px solid #ebebeb;
    margin-top: 0px;
        width: 400px;
}
.product-item__grid .product-item__thumb{
max-width: 100%;
    background: #f8f9f9;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    clear: both;
}
.product-item__grid .product-item__thumb a img{
max-width: 100%;
    width: 100%;
}
.product-item__grid .product-item__title{
font-size: 14px;
    color: #252525;
    font-family: Arial;
    line-height: normal;
    height: 34px;
    overflow: hidden;
    margin-bottom: 5px;
    font-weight: 400;
}
.product-item__grid .product-item__title a{
font-size: 16px;
text-decoration: none;
    color: #252525;
}
.product-item__grid .product-item__price{
	height: 36px;
    overflow: hidden;
}
.product-item__price__regular{
font-size: 14px;
    color: #ed1c24;
    font-family: Arial;
    font-weight: bold;
    line-height: 16px;
}
.box-right{
	    margin-top: 81px;
}
.box-left{
z-index: 0;
    position: relative;
    
  }
/* code hieu ung */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0%;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: 0.8;
}
.slider {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.text{
 line-height: 21px;
    margin-left: 5px;
    white-space: normal;
    color: black;
    font-size: 12px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
       width: 219px;
    padding-right: 1px;
    font-weight: 400;
}
.slider:hover .overlay {
  width: 100%;
  left: 0px;

}
.slider .image {
  display: block;
  width: 100%;
  height: auto;
}
.bginfor{
	    max-width: 100%;
}
.bginfor h3{
	font-size: 13px;
    font-weight: 600;
}
.bginfor p{

}
.effect{
	text-decoration: none;
}
/*style nut ban hang*/
.nut{
position: absolute;
    top: 413px;
    left: 18px;
}
.bginfor span{
	font-size: 12px;
	font-family: arial;
}

.btn-lg, .btn-group-lg > .btn{
	    padding: 5px 16px;
	    margin-left: 66px;
	   
}
.icon{
	width: 40px;
}
/*style phan trang*/
.padding{
    float: right;
    margin-right: 16px;
}
.padding nav{
      margin-left: 19px;
}
.pagination > li > a, .pagination > li > span{
  border: none;
}
/*Style nut ban hang*/
.overlay .info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.col-item .info {
    padding: 0 10px 10px 10px;
    background-color: transparent;
}
.col-item .separator {
    border-top: 1px solid #CC9999;
}
.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.overlay .btn-add {
    width: 50%;
    float: left;
    border-right: 1px solid #CC9999;
      margin: 0px 15px;
    font-size: 14px;
    white-space: nowrap;
} 
.overlay .btn-add a:hover{
  color: green;
}
.overlay .btn-details{
  margin: 5px 15px;
    font-size: 14px;
    white-space: nowrap;
}
.overlay .btn-details a:hover{
  color: green;
}
.col-item .separator p i {
    
    margin-right: 5px;
}
i.fa-shopping-cart {
    transition: all 0.5s ease 0.15s;
}
a {
    color: #777;
    text-decoration: none;
    pointer-events: auto;
}
.separator{
  text-align: center;
   border-top: 1px solid #CC9999;

} 
.separator a{
          padding-left: 4px;
}
@media screen and (max-width: 1024px) {
.separator a {
    padding-left: 4px;
    margin-right: 34px;
     margin-left: -3px;
   }
   .separator{
   margin-left: -9px;
 }  
  .tt{
     margin-bottom: 23px;
   }
   .product-item__grid .product-item__title a{
    font-size: 13px;
   }
    .slider_left {
    width: 238px;
}
.item .product-item__mini .product-item__title a{
  font-size: 11px;
}
   
}
.tag {
  position: absolute;
  top:0;
  width: 0;
  height: 0;
  border-style: solid;
}
.tag-left {
  left: 0;
  border-width: 60px 60px 0 0;
}
.tag-right {
  right: 0;
  border-width: 0 60px 60px 0;
}
.tag-name-left {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  transform: rotate(-45deg);
  top: 12px;
  left: 2px;

}
.tag-name-right {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  transform: rotate(45deg);
  top: 12px;
  right: 0;
}
.hot {
  border-color: #cc9999 transparent transparent transparent;
      position: relative;
}
.sale {
  border-color: transparent #336699 transparent transparent;
  position: relative;
  float: right;
}
.new {
  border-color: transparent #339966 transparent transparent;
  position: relative;
  float: right;
}
@media screen and (max-width: 320px){
  #menu a{
    margin-left: 7px;
  }
   #menu .dropdown-menu{
    margin-left: 7px;
  }
  .shopping-cart{
    position: relative;
    top: -51px;
    right: -29px;
  }
  .shopping-cart:after{
    right: 89%;
  }
  

}


/*Style phan dang nhap va dang ky*/
/*dang nhap*/
@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
} 

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

    .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }


.login-form {
  margin-top: 60px;
}

form[role=login] {
  color: #5d5d5d;
  background: #f2f2f2;
  padding: 26px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
  form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  form[role=login] input,
  form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
  }
  form[role=login] > div {
    text-align: center;
  }
  
.form-links {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 50px;
}
  .form-links a {
    color: #fff;
  }

.login{
  background-color: #ff5c01;
}
.facebook{
  background-color: #3b5998;
  position: relative;
}

.facebook i{
    height: 35px;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
    border-right: 1px solid #627aad;
    line-height: 35px;
}
.facebook span{
      margin-left: 17px;
}
.cart-desktop__close {
  background: #AA1111;
    color: #fff;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: Arial;
    height: 30px;
    width: 30px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 9;
    padding: 0;
    margin: 0;
}
.phantrang{
  margin-right: 20px;
    float: right;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #FF9900;
}


.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
    background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
.breadcrumb{
  margin-top: 15px;
    position: relative;
    z-index: 100;
    margin-bottom: -7px;
}
.breadcrumb .active{
  color: #336699;
}


/* Style phan search */
.search_bar{
  margin-top: -20px;
}
 .searchbardiv{
  display: block;
  background: rgba(0, 0, 0, 0.68) ;
  top: 50px;
  right: 0px;
  z-index: 1001;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin: 0px;
  margin-bottom: 11px;

}
.buttonsearch{
  position: fixed;
  
  float: right;
  right: 0px;
  margin-right: 10px;
  background-color: transparent;
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.buttonsearch:hover{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0px;

}
.buttonsearch:focus{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0px;

}
#formsearch{
  display: none;
}
.glyphicon.glyphicon-search {
  font-size: 18px;
}
#searchbox {
  background-color: #E9E0DB;
  box-shadow: none;
  padding: 5px 14px;
}
#searchbox:hover {
  box-shadow: none;
}

.form-control:focus {
  border-color: #ccc;
  }




/* shop tottip */
.badge {
      margin-top: -25px;
  background-color: #336698;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: absolute;
  border-radius: 3px;
  padding: 20px;
  display: none;
  top: 71px;
  right: 23px;
      z-index: 10000000000;
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
  width: 22%;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 15px;
}
.shopping-cart .shopping-cart-items .item-price {
  color: #6394F8;
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button_checkout {
  background: #2C6700;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}
.button:hover {
  background: #821122;
  color: #FCFCFC;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* from dang ky */

/* form styles */
form .row {
  display: block;
  padding: 7px 26px;
  margin-bottom: 7px;
}
form .row:hover {
  background: #f1f7fa;
}
 
form label {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  width: 120px;
  padding: 6px 0;
  color: #464646;
  vertical-align: top;
}
form .req { color: #ca5354; }
 
form .note {
  font-size: 1.2em;
  line-height: 1.33em;
  font-weight: normal;
  padding: 2px 7px;
  margin-bottom: 10px;
}
 
form input:focus, form textarea:focus { outline: none; }
 
/* placeholder styles: http://stackoverflow.com/a/2610741/477958 */
::-webkit-input-placeholder { color: #aaafbd; font-style: italic; } /* WebKit */
:-moz-placeholder { color: #aaafbd; font-style: italic; }           /* Mozilla Firefox 4 to 18 */
::-moz-placeholder { color: #aaafbd; font-style: italic; }          /* Mozilla Firefox 19+ */
:-ms-input-placeholder { color: #aaafbd; font-style: italic; }      /* Internet Explorer 10+ */

form .txt {
  display: inline-block;
  padding: 8px 9px;
  padding-right: 30px;
  width: 240px;
  f font-family: 'Roboto', sans-serif;
  font-size: 1.35em;
  font-weight: normal;
  color: #898989;
  background-color: #f0f0f0;
  background-image: url('checkmark.png');
  background-position: 110% center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
  -moz-box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
  box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
 
form .txtarea {
  display: inline-block;
  padding: 8px 11px;
  padding-right: 30px;
  width: 320px;
  height: 120px;
 font-family: 'Roboto', sans-serif;
  font-size: 1.35em;
  font-weight: normal;
  color: #898989;
  background-color: #f0f0f0;
  background-image: url('images/checkmark.png');
  background-position: 110% 4%;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset;
  -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset;
  box-shadow: 0 1px 4px -1px #a8a8a8 inset;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

form .txt:focus, form .txtarea:focus {
  width: 300px;
  color: #545454;
  background-color: #fff;
  background-position: 110% center;
  background-repeat: no-repeat;
  border-color: #059;
  -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
  -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
  box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
}
form .txtarea:focus {
  width: 375px;
  background-position: 110% 4%;
}
 
form .txt:valid {
  background-color: #deecda;
  background-position: 98% center;
  background-repeat: no-repeat;
  color: #7d996e;
  border: 1px solid #95bc7d;
}
form .txtarea:valid {
  background-color: #deecda;
  background-position: 98% 4%;
  background-repeat: no-repeat;
  color: #7d996e;
  border: 1px solid #95bc7d;
}
form .txt:focus:valid, form .txtarea:focus:valid {
  -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7);
  -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7);
  box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7); 
}

#submitbtn {
  height: 51px;
  width: 244px;
  background: #ff5c01;
  padding: 0;
  cursor: pointer;
  font-size: 2.0em;
  color: #0a528f;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.65);
  border-width: 1px;
  border-style: solid;
  border-color: #317bd6 #3784e3 #2d74d5 #3774e3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#submitbtn:hover, #submitbtn:focus {
  -webkit-box-shadow: 0 0 15px rgba(70, 100, 200, 0.9);
  -moz-box-shadow: 0 0 15px rgba(70, 100, 200, 0.9);
  box-shadow: 0 0 15px rgba(70, 100, 200, 0.9);
}
 
#submitbtn:active {
  -webkit-box-shadow: 0 0 15px rgba(70, 100, 200, 0.9), 0 1px 3px rgba(0,0,0,0.4) inset;
  -moz-box-shadow: 0 0 15px rgba(70, 100, 200, 0.9), 0 1px 3px rgba(0,0,0,0.4) inset;
  box-shadow: 0 0 15px rgba(70, 100, 200, 0.9), 0 1px 3px rgba(0,0,0,0.4) inset;
}
#sign_text{
  color: #003399;
    text-align: center;
}
.center{
  text-align: center;
}
@media (min-width: 1024px){
  .menu-mobile{
  display: none;
}


}
@media (max-width: 800px){
  .menu{
    display: none;
  }
  .menu-mobile{
    margin-bottom: 25px;
    display: block;
    margin-top: 56px;
  }
  .menu-mobile h2{
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 9px;
  }
  .select{
    padding: 7px;
    border: 1px solid #ccc;
    margin-top: 14px;
    margin-bottom: 9px;
  }
  .selectFilter{
    font-size: 16px;
    font-weight: 600;
    width: 100%;
  }
}

@media (min-width:320px ) and (max-width:768px ){
  .menu{
    display: none;
  }
  .menu-mobile{
    margin-bottom: 25px;
    display: block;
    margin-top: 56px;
  }
  .menu-mobile h2{
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 9px;
  }
  .select{
    padding: 7px;
    border: 1px solid #ccc;
    margin-top: 14px;
    margin-bottom: 9px;
  }
  .selectFilter{
    font-size: 16px;
    font-weight: 600;
    width: 100%;
  }
  .scroll-top-wrapper{
    right: 4px;
    bottom: 7px;
  }
}
@media (max-width: 320px){
  .slider_left{
        width: 290px;
  }
  .scroll-top-wrapper{
  width: 40px;
    height: 40px;
    line-height: 39px;}
}















  
