





@media only screen and (max-width: 767px){
	.main-footer .subscribe-area,
	.main-footer .subscribe-area .subs-box{
		margin:0px 0px;
		padding:10px 15px;
		transform:skewX(0deg);
		-webkit-transform:skewX(0deg);
		-ms-transform:skewX(0deg);
		-o-transform:skewX(0deg);
		-moz-transform:skewX(0deg);	
	}
	
	.news-area .news-slider{
		padding-top:40px;	
	}
	
	.service-tabs.style-two.three-column .tab-content .featured-box{
		width:100%;	
	}
	
	.main-header .header-top .top-left .phone,
	.main-header .header-top .top-left .email{
		margin:0px 10px !important;	
	}
	
	.title-head { 
		font-size:24px;
	}
	.blog-area .author img { 
		position:static; 
		display:block; 
		margin:0 auto; 
		padding-top:40px;
	}
	.blog-area .author-comment { 
		margin-left:0px;
		padding-top:30px; 
		float:none;
	 }
	.comment-area input[type="text"], 
	.comment-area input[type="phone"], 
	.comment-area textarea, 
	.comment-area input[type="email"]{ 
		width:100%;
	}
	.blog-area form { 
		padding-left:10px; 
		padding-right:10px;
	}
	.blog-area .post-content { 
		padding:25px 25px;
	}
	
	.project-details .post .content{
		margin-left:15px;
		margin-right:15px;	
	}
	
	.project-details .column .post-inner{
		max-width:450px !important;	
	}
	
	.project-details .post .content::before{
		top:-56px;	
	}
}


@media only screen and (max-width: 599px){
	.fact-counter-one .inner .column.even,
	.fact-counter-one .inner .column.odd{
		width:100%;
		padding:0px;
	}
	
	.our-projects .project-box{
		width:100%;	
	}
	
	.main-footer .subscribe-area h2{
		font-size:18px;	
	}
	
	.sec-title h2::after{
		display:none;	
	}
	
	.fact-counter-two .column{
		width:100%;	
	}
	
	.featured-services .big-post .content{
		margin-top:-16px;	
	}
	
	.featured-services .post .content,
	.service-tabs .tab-content .featured-box .box-inner .content{
		margin-left:10px;
		margin-right:10px;	
	}
	
	.service-tabs.style-two.three-column .tab-content .featured-box .box-inner{
		padding:30px 10px;	
	}
	
	.service-tabs.style-two.three-column .tab-content .featured-box .box-inner .content::before{
		top:-46px;	
	}
	
	.our-projects .filter-tabs li{
		float:none;
		display:block;
		width:100%;
		text-align:center;
		padding:7px 10px;	
	}
	
	.page-banner h1{
		font-size:24px;	
	}
	
	.main-header .search-box .search-form{
		width:100%;	
	}
}


@media only screen and (max-width: 479px){
	.top-services .post-inner{
		padding:0px 10px;	
	}
	
	.news-area .slide-item .image::before,
	.news-area .slide-item .content-box .text-content::before{
		display:none;	
	}
	
	.news-area .slide-item .content-box{
		right:0px;	
	}
	
	.comment-details {
		margin-left: 0;
		padding-top: 100px;
	}
	
	.about-us-area .quote-slider .slide-item .content{
		padding:25px;	
	}
	
	.about-us-area .quote-slider .slide-item .content .quote-thumb{
		display:none;	
	}
}

