/* CSS RESET */




/* HTML5 display-role reset for older browsers */






table {
    border-collapse: collapse;
    border-spacing: 0;
}





/*Shopping cart table style*/

.shopping-cart {}

.shopping-cart button:hover {
    background: #f7544a;
    color: #fff;
}

.shop-table {
    position: relative;
    width: 100%;
    border-collapse: separate;
}

.shop-table th {
    font-size: 16px;
    padding: 5px;
    text-align: center;
}

.shop-table tbody td {
    text-align: center;
    border: 1px solid #E1E1E1;
    vertical-align: middle;
    padding: 10px;
    border-left: none;
}

.shop-table tbody tr td:first-child {
    border-left: 1px solid #E1E1E1;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}

.shop-table tbody tr td:last-child {
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}

.shop-table tr {
    width: 100%;
    display: table;
    margin-bottom: 15px;
}

.shop-table th:first-child,
.shop-table td:first-child {
    width: 15%;
}

.shop-table th:nth-child(2),
.shop-table td:nth-child(2) {
    width: 24%;
}

.shop-table th:nth-child(3),
.shop-table td:nth-child(3),
.shop-table th:nth-child(4),
.shop-table td:nth-child(4),
.shop-table th:nth-child(5),
.shop-table td:nth-child(5),
.shop-table th:nth-child(6),
.shop-table td:nth-child(6) {
    width: 10%;
}

.shop-table img {
    max-height: 130px;
}

.shop-details {

    position: relative;
    text-align: left;
    padding: 0 10px;
}

.shop-details .productname {
    font-size: 17px;
    text-align: left;
    font-weight: 400;
}

.shop-details .color-choser {
    position: relative;
}

.shop-details .text {
    float: left;
    padding: 2px 15px 5px 0;
}

.shop-details .color-choser li {
    display: inline-block;
    margin: 0 5px 5px 0;
}

.shop-details .color-choser li a {
    float: left;
    width: 16px;
    height: 16px;
    font-size: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.sl{
    width: 40px;
}


/*! responsive style !*/


/* box resize*/






/* box resize close */













@media (max-width: 480px) {
    /*shop table */
    .shop-table thead {
        display: none;
    }
    .shop-table tr {
        float: left;
        width: 100%;
        border: 1px solid #E1E1E1;
        border-radius: 10px;
    }
    .shop-table td {
        float: right;
        width: 100% !important;
        border: none !important;
        border-bottom: 1px solid #E1E1E1 !important;
        position: relative;
        white-space: nowrap;
    }
    .shop-table td:last-child {
        border-bottom: none !important;
    }
    .shop-table tfoot tr {
        border: none;
    }
    .shop-table .productname {
        float: none;
    }
    .shop-table tfoot button.pull-left,
    .shop-table tfoot button.pull-right {
        margin: 5px 0;
        font-size: 12px;
        padding: 10px;
    }
    
}




@media (max-width: 260px) {
   
    /* Shopping page */
    .shop-table .productname {
        font-size: 12px;
    }
    .shop-details .text {
        padding-right: 10px;
    }
    .shop-table tfoot button.pull-right {
        float: left !important;
    }
    .subtotal span,
    .grandtotal span,
    .subtotal h5,
    .grandtotal h5 {
        float: noe;
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }
    .subtotal span,
    .grandtotal span {
        margin-bottom: 20px;
    }
}

