@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
font-family: 'Roboto', sans-serif;
}
.cart-desktop__bg{
	background: #fff;
    width: 750px;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
}
.cart-desktop__close{
	background: #FF9900;
    color: #fff;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    width: 30px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 9;
}
.cart-desktop__title a{
	color: #252525;
}
.cart-desktop__title i{
	vertical-align: top;
    font-size: 26px;
}
.cart-desktop__thead{
    color: #097054;
	float: left;
    width: 100%;
    clear: both;
    border: 1px solid #ebebeb;
   
}
.cart-desktop__tbody{
	max-height: 248px;
    overflow: auto;
    border: 1px solid #ebebeb;
    border-top: none;
}
.cart-desktop__tfooter-hotline{
	float: left;
    padding: 12px 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #252525;
} 
 .cart-desktop__tfooter-total{
 	float: right;
    padding: 18px 0px 10px 0px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #252525;
    font-family: "Arial";
    color:  #FF0000;
 }
  .cart-desktop__tfooter-continue ,.cart-desktop__tfooter-checkout{
float: left;
    background: #FF9900;
    color:  #097054;
    padding: 5px 10px;
    font-size: 15px;
    font-family: "Arial";
    cursor: pointer;
}
.cart-desktop__tfooter-checkout{
	float: right;
}
.cart-desktop__thead .cart-desktop__col-1,.cart-desktop__thead .cart-desktop__col-2,.cart-desktop__thead .cart-desktop__col-3,.cart-desktop__thead .cart-desktop__col-4,.cart-desktop__thead .cart-desktop__col-5,.cart-desktop__thead .cart-desktop__col-6{
	width: 15%;
    float: left;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
}
.cart-desktop__thead .cart-desktop__col-2{
	width: 15%;
}
.cart-desktop__thead .cart-desktop__col-3{
	width: 20%;
}
.cart-desktop__thead .cart-desktop__col-4{
	width: 15%;
}
.cart-popup__item-image img{
	width: 47%;
}
.cart-popup__item .cart-desktop__col-1,.cart-popup__item .cart-desktop__col-2,.cart-popup__item .cart-desktop__col-3,.cart-popup__item .cart-desktop__col-4,.cart-popup__item .cart-desktop__col-5,.cart-popup__item .cart-desktop__col-6{
	width: 15%;
    float: left;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
}
.cart-popup__item .cart-desktop__col-2{
	width: 15%;
}
.cart-popup__item .cart-desktop__col-3{
	width: 20%;
}
.cart-popup__item .cart-desktop__col-4{
	width: 15%;
}
.cart-popup__item-info{
margin-top: -57px;
    width: 60%;
    margin-left: 54px;
}
.cart-popup__item-info .cart-popup__item-name{
width: 105%;
    margin-left: 12px;
}
.cart-popup__item-name a{
    color: #d2a637;
}
.cart-popup__item-info .cart-popup__item-variant__title{
margin-left: 12px;
    margin-top: -13px;
}
.cart-popup__item-info .cart-popup__item-remove{
margin-top: -4px;
}
.cart-popup__item-info .cart-popup__item-remove .cart-popup__item-remove__button{
	margin-left: 12px;
	font-size: 12px;
}
.cart-desktop__col-3 .form-control{
	width: 50%;
}
.form-control{
    width: 42%;
}
.form-group .form-control{
    width: 100%;
}
.thanhtoan .form-control{
    width: 100%;
}
.thanhtoan{
border-top: 1px solid #e1e1e1;
    margin-top: 17px; 
}
.sale{
    margin-left: 8px;
}
.sale .form-control{
       border-top-right-radius: 0px;
       border-bottom-right-radius: 0px;
}
.sale_active{
    margin-left: 209px;
    width: 20%;
    margin-top: -34px;
}
.sale_active button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.sale .form-control{
    margin-top: 17px;
    width: 78%;
}
#price1{
     border-top: 1px solid #e1e1e1;
     padding-top: 9px;
    margin-bottom: 14px;
 }
#price2{
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
} 
.thanhtoan_sp{  
border: 1px solid #e1e1e1;
}
.total-price{
margin-top: 17px;
 padding-left: 1px;
}
.price_title{
   margin-left: 17px;
    margin-right: 93px;
 }
.price_total{
    margin-right: 63px;
      margin-left: 17px;
}
#price2 .price_title {
       margin-top: 22px;
    margin-bottom: 25px;
     margin-right: 101px;
   }
#price3{
    margin-top: 22px;
    margin-bottom: 25px;
}
.infor{
    border-top: 1px solid #e1e1e1;
    padding-top: 14px;
}
.infor_product{
        margin-bottom: 16px;
    margin-top: 17px;
}
.dat_hang{
    margin-top: 18px;
}
.cart-popup__item-price__price{
    color: #336699;
} 
.cart-popup__item-delete{
    top: 17px;
    position: absolute;
    left: 18px;
}
.cart_infor{
    margin-top:30px ;
}
@media only screen and (max-width: 425px) and (min-width: 320px)
{
.cart-desktop__thead{
        height: 220px;

}



